@use '../utils' as *;

:root {
  @each $name, $value in $theme-light {
    --color-#{$name}: #{$value};
  }

  --radius:       #{$radius};
  --radius-sm:    #{$radius-sm};
  --radius-xs:    #{$radius-xs};
  --shadow:       #{$shadow};
  --shadow-hover: #{$shadow-hover};
  --shadow-focus: #{$shadow-focus};
  --container:    #{$container-width};
  --transition:   #{$transition};
  --font-family:  #{$font-family-base};
}